
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
h2,h3,h3,h4,h5{
  /*text-align: center;*/

}
h2{
  padding-left: 12px;
  border-left: solid 4px #337ab7
}
footer{
  text-align: center;
  margin: 40px;
}
.navbar-inverse .navbar-nav>li>a {
  color: #cdcdcd;
}

header.jumbotron-extended {
  background: url("../img/Gaskellball.jpg");
  background-position: center center;
  background-size: cover;
  color: #eee;
  height: 100%;
}

header.jumbotron-extended small{
  color: #eee
}

header.jumbotron-extended p{
  color: #eee
}

.ggmap {
position: relative;
padding-bottom: 56.25%;
padding-top: 30px;
height: 0;
overflow: hidden;
}

.ggmap iframe,
.ggmap object,
.ggmap embed {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
}

@media (min-width: 1200px) {
  .container {
    max-width: 970px;
}
